<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/"><%= title %></a></h1>
    <p>Bienvenue sur <%= title %></p>
    <br>
    <p>Vous pouvez voir ci-dessous la liste de todos</p>
    <br>
    <table>
      <thead>
        <tr>
          <th>Titre</th>
          <th>Contenu</th>
          <th>Utilisateur</th>
          <th>État</th>
          <th>Deadline</th>
          <th>Créé le</th>
          <th>Modifié le</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="todo-container">
      <% for(let i=0; i < todos.length; i++) { %>
        <%- include('todos', {todos: todos[i]}); %>
      <% } %>
      </tbody>
      </table>
      <br>
      <form action="/api/" method="post" id="addTodo">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="Titre">
      </div>
      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea name="content" id="content" class="form-control" placeholder="Contenu"></textarea>
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </div>
      </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
